@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

*{
    font-family: "Manrope", sans-serif;
}
/* Add to your index.css */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@keyframes slideUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-slide-up {
  animation: slideUp 0.6s ease-out forwards;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #10b981;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #10b981;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes reveal-bounce {
  0% { 
    transform: translateY(150%) scaleY(2); 
    opacity: 0; 
    filter: blur(10px); 
  }
  60% { 
    transform: translateY(-20%) scaleY(0.8); 
    opacity: 1; 
    filter: blur(0px); 
  }
  100% { 
    transform: translateY(0) scaleY(1); 
    opacity: 1; 
  }
}

@keyframes shimmer {
  100% { transform: translateX(100%); }
}